.menu{
    margin-top: 100px;
    margin-left: 100px;
}
.menu ul {
    margin: 10px 0 0 0;
    list-style: none;
    padding-left: 20px;
    display: none;
    width: 78px;
    border: 1px solid black;
  }

  .menu .title {
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
    padding: 7px;
  }
  .title:hover{
    border-radius: 50px;
  }

  .menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
  }

  .menu.open .title::before {
    content: '▼ ';
  }

  .menu.open ul {
    display: block;
  }